<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.macaro-ni.jp/image/summary/24/24610/41fe72e8527c6ee7488638eb045db49e.png?p=medium_wp);">
  <div class="container">
    <h1>Best cocktails for every mood</h1>
    <p>Find out original cocktail recipies or create your own</p>
  </div>
</div>
