<div class="container my-3">
  <div class="item-flip" on:click={toggleFlip} class:flipped={isFlipped}>
    <div class="item-flip-inner">
      <div class="item-flip-front">
        <div class="item-flip-content">
          <h2><%= @cocktail.name %></h2>
          <p><%= @cocktail.instruction %></p>
        </div>
      </div>
      <div class="item-flip-back">
        <div class="item-flip-content">
          <%= @cocktail.image_url ? image_tag(@cocktail.image_url) : image_tag('https://image.freepik.com/free-photo/selection-various-cocktails-table_140725-2909.jpg') %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'doses/form_new', cocktail: @cocktail, dose: @dose %>
</div>
